.header {
    background-image: url("img/header-background-image.svg");
    display: flex;
    flex-direction: column;

    &__body {
        width: 1231px;
        margin: 120px auto 0;
    }

    &__first-line {
        display: flex;
        justify-content: center;
        gap: 995px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        margin: 107px auto 0;
        color: $white;
    }

    &__text1 {
        font-size: 76px;
        line-height: 98px;
        width: 740px;
        height: 216px;
    }

    &__text2{
        font-size: 22px;
        line-height: 37.4px;
        width: 470px;
        height: 113px;
    }

    &__button {
        @include request-access;
        margin-top: 51px; margin-bottom: 76px;
    }

}

a {
    color: $white;
}