.companies {

    &__body {
        display: flex;
        justify-content: center;
        gap: 80px;
        margin: 20px auto 20px;
    }
}

.attributes {
    background-color: rgba(143, 75, 23, 0.08);
    display: flex;
    gap: 120px;
    overflow: hidden;

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-left: auto;
        color: $black;
    }

    &__text1 {
        font-size: 43px;
        line-height: 56px;
        width: 364px;
        height: 112px;
    }

    &__text2 {
        @include small-text;
        width: 470px;
        height: 82px;
        margin-top: 31px;
    }

    &__button {
        @include request-access;
        margin-top: 51px; margin-bottom: 76px;
    }

    &__img {
        margin-top: 105px;
        margin-right: 0px;
        margin-bottom: 104px;
        width: 700px;
    }
}

a {
    color: $white;
}

.equipment {
    display: flex;
    gap: 49px;
    justify-content: center;

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 270px;
        color: $black;
    }

    &__text1 {
        font-size: 45px;
        line-height: 56px;
        width: 478px;
        height: 112px;
    }

    &__text2 {
        @include small-text;
        width: 480px;
        height: 82px;
        margin-top: 31px;
    }

    &__img {
        width: 776px;
    }

    &__button {
        @include request-access;
        margin-top: 34px;
    }
}

.one-place {
    background-color: rgba(143, 75, 23, 0.08);;
    display: flex;
    gap: 120px;
    overflow: hidden;

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-left: auto;
        color: $black;
    }

    &__text1 {
        font-size: 48px;
        line-height: 56px;
        width: 413px;
        height: 112px;
    }

    &__text2 {
        @include small-text;
        width: 441px;
        height: 55px;
        margin-top: 31px;
    }

    &__button {
        @include request-access;
        margin-top: 34px; margin-bottom: 200px;
    }

}

.support{
    display: flex;
    gap: 120px;
    justify-content: center;

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 210px;
        color: $black;
    }

    &__text1 {
        font-size: 51px;
        line-height: 56px;
        width: 451px;
        height: 112px;
    }

    &__text2 {
        @include small-text;
        width: 478px;
        height: 82px;
        margin-top: 31px;
    }

    &__button {
        @include request-access;
        margin-top: 34px;
    }
}

.set-yourself {
    &__body {
        display: flex;
        flex-direction: column;
        gap: 103px;
        width: 1200px;
        margin: 115px auto 43px;
    }

    &__p {
        font-size: 50px;
        line-height: 58px;
        width: 463px;
        height: 174px;
    }

    &__points {
        display: flex;
    }

        &__point1, &__point2, &__point3 {
        width: 426.66px;
        height: 219px;
        }

        &__text11, &__text21, &__text31 {
            @include small-title;
        }

        &__text12, &__text22, &__text32 {
            @include points-text;
        }

        &__text12 {
            width: 326px;
        }

        &__text22, &__text32 {
            width: 334px;
        }

}

.better-future {
    background-color: rgba(143, 75, 23, 0.2);

    &__body {
        display: flex;
        gap: 78.66px;
        width: 1280px;
        margin: 120px auto 100px;
    }

    &__text1 {
        font-size: 43px;
        line-height: 56px;
        width: 308px;
        height: 168px;
    }

    &__p {
        display: flex;
        width: 853.32px;

    }

        &__p1, &__p2 {
            width: 426.66px;
        }

        &__text11, &__text21 {
            @include small-text;
            margin-top: 37px;
        }

        &__text12, &__text22 {
            color: #1a0800a0;
            font-size: 16px;
            line-height: 27.2px;
        }

        &__text11, &__text12 {
            margin-left: 40.34px;
        }

        &__text21, &__text22 {
            margin-left: 39.69px;
        }

        &__text12 {
            width: 346px;
        }

        &__text22 {
            width: 334px;
        }
}