* {margin: 0; padding: 0;}  body {font-family: "DM Sans"; color: #141414;}

.container {display: flex; flex-direction: column;}

.div1 {
    display: flex;
    justify-content: center;
    margin: 0 auto 0;
    width: 1216px;
}

.div1 div:first-child {margin-top: 16px; }

.div1 div:first-child a, .div12 div:nth-child(2) a {
    text-decoration: none;
    color: black;
}
.div1 div:first-child Ul, .div12 div:nth-child(2) ul {
    display: flex;
    gap: 20px;
}

.div1 div:first-child li, .div12 div:nth-child(2) li{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
}

ul {width: 256px;}

.div1 div:nth-child(2) p {margin-top: 17px;}

.div1 div:nth-child(2) img {margin-top: 16px;}

.div1 div:nth-child(2) {
    display: flex;
    gap: 8px;
    margin-left: 308px; margin-bottom: 16px;
}

.div1 img:last-child {margin-left: 525px; margin-top: 13px;}

.div2 {
    display: flex;
    gap: 27px;
    background: #A1C487;
}

.div2 div:first-child, .div2 div:last-child {display: flex; flex-direction: column;}

.div2 div:first-child {margin-left: auto;}

.div2 div:last-child {align-items: flex-end; margin-right: auto;}

.div2 div:first-child img:first-child { width: 204px; margin-top: 132px;}

.text p:first-child {
    color: #FFF;
    font-size: 64px;
    font-weight: 500;
    line-height: 75px; 
    letter-spacing: -2.56px;
    text-transform: uppercase;
    width: 672px;
    margin-top: 16px;
}

.italic {font-style: italic;}

.div2 .italic {color: #EAF7E5;}

.text p:last-child {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    width: 491px;
    margin-top: 16px;
}

.div2 div:first-child img:last-child {width: 132px; margin-top: 32px;}

.div2 div:last-child img:first-child {width: 517px; margin-top: 135px;}

.div2 div:last-child img:last-child {
    width: 266px;
    margin-top: 50px;
    margin-bottom: 32px;
}

.div3 {
    display: flex;
    flex-direction: column;
    margin: 124px auto 0;
    gap: 40px;
}

.div3 div:first-child {
    display: flex;
    justify-content: center;
    gap: 192px;
}

.text2 {
    display: flex;
    gap: 40px;
}

.div3 div:first-child p {
    width: 614px;
    font-size: 48px;
    font-weight: 500;
    line-height: 50px; 
    letter-spacing: -1.92px;
    text-transform: uppercase;
}

.text2 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.72px;
}

.text2 p:first-child {width: 353px;}

.text2 p:last-child {width: 294px;}

.div3 img {width: 410px;}

.div4 {
    display: flex;
    width: 1216px;
    height: 460px;
    background: #FAF3E7;
    background-image: url(BG.svg);
    border-radius: 80px;
    margin: 124px auto 0px;
    align-items: flex-end;
    gap: 110px;
}

.div4 img:not(.threesteps img) {width: 434px;}

.div4 h1 {
    width: 512px;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
    margin-top: 80px;
}

.div4 div:not(.threesteps) {height: 100%;}

.threesteps {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.threesteps div {
    display: flex;
    gap: 14px;
    align-items: center
}

.threesteps p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
}

.div5 {
    display: flex;
    flex-direction: column;
    margin-top: 124px;
}

.div5 img:last-child {margin-top: -107.17px;}

.div6 p {
    font-size: 40px;
    font-weight: 500;
    line-height: 44px; /* 110% */
    letter-spacing: -1.6px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 124px;
}

.div7 p {
    width: 562px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.72px;
    text-align: center;
    margin: 14px auto 0px;
}

.div8 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 40px auto 0;
}

.div8 div {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.div9 {margin: 44px auto 0;}

.div9 img {width: 114px; height: 114px;}

.div10 {
    display: flex;
    justify-content: center;
    width: 1216px;
    height: 465px;
    border-radius: 80px;
    background: #FAF3E7;
    background-image: url(BG.svg);
    gap: 73px;
    margin: 124px auto 0;
}

.div10 img {height: 339px;margin-top: 63px;}

.div10 p {
    width: 430px;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
    margin-top: 144.5px;
}

.green {color: #A1C487;}

.orange {color: #FC8A11;}

.div11 {
    display: flex;
    justify-content: center;
    gap: 77px;
    margin: 124px auto 0;
}

.div11 div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text3 p:first-child {
    width: 614px;
    font-size: 48px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -1.92px;
    text-transform: uppercase;
    margin-top: 61px;
}

.text3 p:last-child {
    width: 523px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.72px;
    margin-top: 40px;
}

.recall {
    display: flex;
    position: relative;
    margin-top: 80px;
}

.recall div {
    width: 350px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #141414;
    opacity: 0.3;
}

input { 
    border: none;
    width: 150px;
    margin-left: 24px;
}

.recall img {
    position: absolute;
    top: 0.75px;
    right: 263px;
}

.div11 div:last-child:not(.recall) {
    width: 525px;
    height: 536px;  
    border-radius: 80px;
    background: #EAF7E5;
    background-image: url(BG.svg);
    display: flex;
    align-items: flex-end;
}

.div11 div:last-child:not(.recall) img {
    width: 525px;
    height: 499px;
    margin-bottom: 0px;
}

.div12 {
    display: flex;
    /* justify-content: space-between; */
    gap: 166px;
    background: #EAF7E5;
    margin-top: 124px;
}

.div12 div:first-child:not(.znachki) {margin-top: 80px; margin-left: auto;}

.div12 div:first-child img:not(.logo img, .znachki img) { width: 349px;}

.div12 div:first-child div {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 21px; margin-left: 115.5px;
}

.logo img {width: 16px;} .logo { margin-bottom: 81px;}

.div12 div:first-child p {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.div12 ul {margin-top: 164px;}

.znachki {display: flex; gap: 20px; margin-top: 80px;}

.znachki img {width: 40px;}

.div12 div:last-child:not(.logo) {display: flex; flex-direction: column;}

.text4 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.text4 p:first-child{text-transform: uppercase; margin-top: 40px; margin-right: 142px;}

.text4 p:last-child {margin-top: 20px;}


@media (max-width: 768px) {
    .div1 div:first-child Ul {gap: 14px;}

    .div1 div:nth-child(2) {margin-left: 86px;}

    .div1 img:last-child {margin-left: 251px; width: 20px;}

    /* вернись к марджинам */

    .div2 {
        flex-direction: column; 
        justify-content: space-around;
        gap: 4px;
    }

    .div2 div:first-child img:first-child { width: 158px; margin-top: 64px;}

    .text p:first-child {
        font-size: 54px;
        line-height: 64px; 
        letter-spacing: -2.16px;
        width: 656px;
        margin-top: 16px;
    }

    .text p:last-child {
        width: 490px;
    }

    .div2 div:first-child img:last-child {width: 114px;}

    .div2 div:last-child img:first-child {width: 488px; margin-top: 0;}

    .div2 div:last-child img:last-child {
        width: 214px;
        margin-top: 7px;
    }

    .div3 {margin-top: 100px;}

    .div3 div:first-child {gap: 8px;}

    .text2 {gap: 20px;}

    .div3 div:first-child p {
        width: 386px;
        font-size: 40px;
        line-height: 44px; 
        letter-spacing: -1.6px;
    }

    .text2 p:first-child {width: 317px;}

    .text2 p:last-child {width: 279px;}

    .div3 img {width: 310px;}
}   