@import "blocks/nullstyle";

@font-face{
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

body {
    font-family: "Roboto";
    min-width: 1200px;
    display: flex;
    flex-direction: column;
}

a {
    color: white;
}

.container {display: flex; flex-direction: column;}

$white: white;
$black: black;

@mixin request-access {
    width: 197px;
    height: 56px;
    background-color: #DD9D4C;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 56px;
}

@mixin small-text {
    font-size: 16px;
    line-height: 27.2px;
}

@mixin small-title {
    font-size: 14px;
    line-height: 27.2px;
    margin-top: 23px;  
}

@mixin points-text {
    color: #1a0800a0;
    font-size: 14px;
    line-height: 27.2px;
    margin-top: 5px;
}

@import "blocks/header";
@import "blocks/companies";
@import "blocks/attributes";
@import "blocks/equipment";
@import "blocks/one-place";
@import "blocks/support";
@import "blocks/set-yourself";
@import "blocks/better-future";
@import "blocks/footer"

