.attributes {
    background-color: rgba(143, 75, 23, 0.08);
    display: flex;
    gap: 120px;
    overflow: hidden;

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-left: auto;
        color: $black;
    }

    &__text1 {
        font-size: 43px;
        line-height: 56px;
        width: 364px;
        height: 112px;
    }

    &__text2 {
        @include small-text;
        width: 470px;
        height: 82px;
        margin-top: 31px;
    }

    &__button {
        @include request-access;
        margin-top: 51px; margin-bottom: 76px;
    }

    &__img {
        margin-top: 105px;
        margin-right: 0px;
        margin-bottom: 104px;
        width: 700px;
    }
}