.equipment {
    display: flex;
    gap: 49px;
    justify-content: center;
    width: 100%;

    &__text {
        display: flex;
        flex-direction: column;
        margin-top: 270px;
        color: $black;
    }

    &__text1 {
        font-size: 35px;
        line-height: 56px;
        width: 478px;
        height: 112px;
    }

    &__text2 {
        @include small-text;
        width: 400px;
        height: 82px;
        margin-top: 31px;
    }

    &__img1 {
        width: 100%;
    }
    // 776

    &__button {
        @include request-access;
        margin-top: 34px;
    }
}