.footer {
    background-image: url("img/footer-background-image.svg");

    &__body {
        display: flex;
        flex-direction: column;
        width: 1200px;
        height: 278px;
        margin: 120px auto;
        color: $white;
    }

    &__text {
        width: 339px;
        height: 96px;
        font-size: 16px;
        line-height: 32px;
        margin-top: 48px;
    }

    &__img2 {
        margin-top: 22px;
        margin-left: 15px;
    }

    &__whendone {
        font-size: 12px;
        line-height: 22.1px;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 29px;
    }

}